<h2>Seznam prací přidaných operátory bez produkčního</h2>
<table>
	<tr>
		<th>datum zadání</th>
		<th>operátor</th>
		<th>note</th>
		<th>úkon</th>
		<th>upravit</th>
	</tr>
	
<% for work in Work.find(:all, :conditions => ["project_id is null"])%>
	<tr>
		<td><%= my_time work.created_at %></td>
		<td><%= work.user.name %></td>
		<td><%= work.note %></td>
		<td>
			<% for operation in work.operations %>
				<%= operation.operation_type.name %>,
			<% end %>
		</td>
		<td>
			<%= link_to "upravit", edit_without_project_plan_work_path(work)%>
		</td>
	</tr>	
<% end %>
</table>