<p>
  <b>Project:</b>
  <%=h @invoice.project_id %>
</p>

<p>
  <b>Note:</b>
  <%=h @invoice.note %>
</p>

<p>
  <b>Date:</b>
  <%=h @invoice.date %>
</p>

<p>
  <b>Price:</b>
  <%=h @invoice.price %>
</p>

<p>
  <b>Company:</b>
  <%=h @invoice.company_id %>
</p>
