<p>
  <b>User:</b>
  <%=h @system_comment.user_id-%>
</p>

<p>
  <b>Note:</b>
  <%=h @system_comment.note-%>
</p>

<p>
  <b>Finished:</b>
  <%=h @system_comment.finished-%>
</p>


<%= link_to 'Edit', edit_system_comment_path(@system_comment)-%> |
<%= link_to 'Back', system_comments_path-%>