<%= error_messages_for :invoice_operation -%>
<p>
    <%= label :invoice_operation, 'name', 'název předdefinovaného úkonu', :required => true-%><br />
    <%= text_field :invoice_operation, :name-%>
</p>
<p>
    <%= label :invoice_operation, 'note', 'poznámka', :required => false-%><br />
    <%= text_field :invoice_operation, :note-%>
</p>
<p>
    <%= label :invoice_operation, 'price', 'cena', :required => false-%><br />
    <%= text_field :invoice_operation, :price-%>
</p>