
<h2> 
     <div class="menu_small">
      <%= right_owner_link "users", "edit", @user.id , 'upravit', edit_user_path(@user)-%>
      <%= right_delete_link "user", "delete", 'smazat', @user-%>
     </div>
   UŽIVATEL: <%= @user.name.blank? ? "" : @user.name -%> <%= @user.surname.blank? ? "" : @user.surname -%>
</h2>
 <ul>
 	<% for company in @user.companies -%>
	 	<li>firma:
		       <b><%= right_show_link "companies", "show",  company.name, company-%></b>
	 	</li>
	 <% end-%>
	
	<% if @current_user.produce? || @current_user.admin? %>
     <li>práva uživatele:
        <% for role in Role.find(:all) -%>
          <%  if !@user.blank? && @user.role % role.idd == 0 -%>
            <%= role.comment.downcase-%>,
          <% end-%>
        <% end-%>
      </li>
	<% end %>
      <li>kategorie:
        <% for category in @user.categories -%>
            <%= category.name-%>,
        <% end-%>
      </li>
 </ul>

 <h3>
     <div class="menu_small">
       <%= right_owner_link "contacts", "new", @user.id, 'přidat kontakt', new_user_contact_path(@user) -%>
     </div>
   KONTAKT NA UŽIVATELE
 </h3>
 
 <div id="contacts">
	<%= render :partial => 'contacts/index' -%>
 </div>

  
