  
<h2> 
     <div class="menu_small">
      <%= right_owner_link "users", "edit", @user.user_id, 'upravit', edit_user_path(@user) %>
      <%= right_delete_link "user", "delete", 'smazat', @user %>
     </div>
   UŽIVATEL: <%= @user.name.blank? ? "" : @user.name  %> <%= @user.surname.blank? ? "" : @user.surname  %>
</h2>
 <ul>
     <li>firma: <%= @user.company.blank? ? " " : (right_show_link( "companies", "show", @user.company.name, @user.company)) %>   </li>
     <li>práva uživatele:
        <% for role in Role.find(:all)  %>
          <%  if !@user.blank? && @user.role % role.idd == 0  %>
            <%= role.comment.downcase %>,
          <% end %>
        <% end %>
      </li>
      <li>kategorie:
        <% for category in @user.categories  %>
            <%= category.name %>,
        <% end %>
      </li>
 </ul>

 <h2>
     <div class="menu_small">
       <%= right_owner_link "contacts", "new", @user.user_id, 'přidat kontakt', new_user_contact_path(@user)  %>
     </div>
   KONTAKT NA UŽIVATELE
 </h2>
 
 <div id="contacts"><%= link_to_remote "zobrazit", :update => 'contacts', :url => { :controller => 'contacts', :action => 'render_index', :id => @user.id } %></div>

  
