<h2>Seznam kontaktů</h2>

<table>
  <tr>
    <th>jméno</th>
    <th>adresa</th>
    <th>e-m@il</th>
    <th>telefon</th>
    <th>poznámka</th>
  </tr>

<% for contact in @contacts %>
  <tr>
    <td><%= right_owner_link ( "contacts", "show", contact.user_id, contact.user.name, contact) %></td>
    <td><%=h contact.address %></td>
    <td><%=h contact.email %></td>
    <td><%=h contact.phone %></td>
    <td><%=h contact.note %></td>
  </tr>
<% end %>
</table>

<br />
