<p>
  <b>Name:</b>
  <%=h @reception_contact.name-%>
</p>

<p>
  <b>Phone:</b>
  <%=h @reception_contact.phone-%>
</p>

<p>
  <b>Address:</b>
  <%=h @reception_contact.address-%>
</p>

<p>
  <b>Email:</b>
  <%=h @reception_contact.email-%>
</p>

<p>
  <b>Web:</b>
  <%=h @reception_contact.web-%>
</p>

<p>
  <b>Note:</b>
  <%=h @reception_contact.note-%>
</p>


<%= link_to 'Edit', edit_reception_contact_path(@reception_contact)-%> |
<%= link_to 'Back', reception_contacts_path-%>