<p>
  <b>Date:</b>
  <%=h @tape_sell.date %>
</p>

<p>
  <b>Project:</b>
  <%=h @tape_sell.project_id %>
</p>

<p>
  <b>Tape type:</b>
  <%=h @tape_sell.tape_type_id %>
</p>

<p>
  <b>Value:</b>
  <%=h @tape_sell.value %>
</p>

<p>
  <b>User:</b>
  <%=h @tape_sell.user_id %>
</p>

<p>
  <b>Note:</b>
  <%=h @tape_sell.note %>
</p>
