	<%= image_tag("spinner.gif",
       :align => "absmiddle",
       :border => 0,
       :id => "spinner_correct",
       :style =>"display: none;" ) %>
<table class="work">
      <tr>
		 	 <th rowspan="2">správně</th>
          <th rowspan="2">datum zaúčtování</th>
          <th rowspan="2">datum naplánování</th>
          <th rowspan="2">projekt</th>
          <th rowspan="2">operátor</th>
          <th rowspan="2">doba</th>
          <th colspan="5">úkony</th>
      </tr>
      <tr>
          <th style="width:80px">úkon</th>
          <th style="width:120px">parametry</th>
          <th style="width:80px">poznámka prod.</th>
          <th style="width:80px">poznámka oper.</th>
          <th style="width:60px">opravit úkon</th>
      </tr>

		<% for finished_work in FinishedWork.find(:all , :conditions => "status = 0")-%>
			<% first = true-%>
			<% first_td = "<td rowspan='"+finished_work.operations.size.to_s+"'>"-%>
			<% text =  "class='"+ cycle("even", "odd")+"'" %>
			<tbody  id="finished_work_id_<%= finished_work.id.to_s -%>">
			<% for operation in finished_work.operations-%>
				<tr <%= text %> >
					<% if first-%>
						<%= first_td-%><%=  %>
						
						
							<%= link_to_remote "správně", 
										:url => { :controller => "finished_works", :action => "correct", :id => finished_work.id },
										:update => "finished_work_id_"+finished_work.id.to_s, 
										:before => "Element.show('spinner_correct')",
							         :success => "Element.hide('spinner_correct');" ,
										:after =>  "Effect.BlindUp('finished_work_id_"+finished_work.id.to_s+"', {duration:0.5});"
									-%>

						
						
						
						</td>
						<%= first_td-%><%= my_date finished_work.created_at-%></td>
						<%= first_td-%>
							<%= my_date operation.work.date -%>
						</td>
						<%= first_td-%>
							<%= operation.work.project.blank? ? right_show_link( "works", "edit", "<b class='red'>není zadán projekt</b>", edit_work_path(operation.work)) :  ( right_show_link( "projects", "show", project_name(operation.work.project), operation.work.project) )-%>
						</td>
						<%= first_td-%>
							<%= right_show_link "users", "show", finished_work.user.fullname, finished_work.user-%>
						</td>
						<%= first_td-%>

								<%= select 'finished_work_form['+finished_work.id.to_s+']',:value,
										Work::LENGTH_VALUES.invert.sort{|a,b| a[1]<=>b[1]} ,
										{:selected=>finished_work.value.to_i},
										{:onchange => remote_function( 
											:url => change_value_finished_work_path(finished_work),
											:before => "Element.show('spinner"+finished_work.id.to_s+"')",
								         :success => "Element.hide('spinner"+finished_work.id.to_s+"')",
											:confirm => "chcete opravdu provést změnu z: "+length_values(finished_work.value.to_i),
											:with => "'value=' + escape(value)")}

										%>
										
								
										<%= image_tag("spinner.gif",
										              :align => "absmiddle",
										              :border => 0,
										              :id => "spinner"+finished_work.id.to_s,
										              :style =>"display: none;" )-%>
     					</td>
						
					<% end-%>
					  <td >
	                  <%= operation.operation_type.name-%>
	              </td>
					
					 <td style="text-align:left">
	                  
	                 <%  if operation.operation_type.value == 0-%>
	                     počet minut: <%= operation.value-%>
	                  <% elsif operation.operation_type.value == 1-%>
	                     čas: <%= length_values operation.value-%>
	                  <% elsif operation.operation_type.value == 2-%>
	                     počet kusů: <%= operation.count-%>
	                 <% elsif operation.operation_type.value == 3-%>
	                     použitý materiál : <%=  operation.tape_type_id.blank? ? " " : operation.tape_type.name-%><%= operation.their_tape == true ? " vlastní" : ""%><br />
	                     počet kusů: <%= operation.count-%>
	                  <% elsif operation.operation_type.value == 4-%>
	                      	  <%= operation.player_machine_id.blank? ? " " : Machine.find_by_id(operation.player_machine_id).name-%>
                           -><%= operation.record_machine_id.blank? ? " " : Machine.find_by_id(operation.record_machine_id).name-%><br />
                           materiál : <%=  operation.tape_type_id.blank? ? " " : operation.tape_type.name-%><%= operation.their_tape == true ? " vlastní" : ""-%><br />
                           kusů:<%= operation.count-%>
	                  <% end-%>
	              </td>
					  <td><%= operation.note-%>
					  </td>
					  <td><%= operation.note_operator-%>
					  </td>
					  <td><%= right_link "operations", "edit", 'opravit', edit_operation_path(operation) -%>
					  </td>
					
              	
					
				</tr>
			<% first = false-%>
			<% end-%>
			</tbody>
		<% end-%>

</table>