<p>
  <b>poznámka:</b>
  <%=h @finished_work.note %>
</p>

<p>
  <b>stav:</b>
  <%=h @finished_work.status %>
</p>

<p>
  <b>hodnota:</b>
  <%=h @finished_work.value %>
</p>

<p>
  <b>operátor:</b>
  <%=h @finished_work.user_id %>
</p>


<%= right_owner_link ("finished_works" "edit", @finished_work.user_id ,'Edit', edit_finished_work_path(@finished_work)) %> |
