<p>
  <b>Tape type:</b>
  <%=h @bought_tape.tape_type_id %>
</p>

<p>
  <b>Price:</b>
  <%=h @bought_tape.price %>
</p>

<p>
  <b>Value:</b>
  <%=h @bought_tape.value %>
</p>

<p>
  <b>Note:</b>
  <%=h @bought_tape.note %>
</p>

<p>
  <b>Purchase date:</b>
  <%=h @bought_tape.purchase_date %>
</p>


<%= link_to 'Edit', edit_bought_tape_path(@bought_tape) %> |
<%= link_to 'Back', bought_tapes_path %>
