<% id = "planed_work_"+Time.now.strftime("%s")+"_"+planed_work.id.to_s-%>
<div id="<%= id-%>" class="planed_work_<%= planed_work.job_type_id-%>"
	<div class="calendar_event">
		
	  <% if  planed_work.reserved == true-%>
	    <div class="reserved">
		 <% movable = true-%>
	  <% else-%>
			<% finished = true-%>
	   	<% for operation in planed_work.operations -%>
				<% if operation.finished.blank? -%>
					<% finished = false -%>
				<% end -%>
			<% end -%>
			<% if finished == true-%>
				<div class="finished">
  			   <% movable = false-%>
			<% elsif planed_work.date < Time.now.beginning_of_day-%>
			  	<div class="nooperations">
				<% movable = true-%>
			<% else-%>
				<div class="unfinished">
			   <% movable = true-%>
			<% end-%>
	  <%  end-%>	
		  <div class="top"></div>
		
			<div class="body">
			      <div class="div_with_float">
						<div onClick="show_float_div('float_<%= id-%>');">
							<% if !@filtr_show_type["1"].blank?-%>
								<% if !planed_work.project_id.blank? %>
									<%= shorten((project_name planed_work.project), 20)-%><br />
								<% else %>
									<b class="red">není projekt</b><br />
								<% end %>
						   <% end-%>
							<% if !@filtr_show_type["2"].blank?-%>
								<%= planed_work.user_id.blank? ? " " : planed_work.user.fullname-%><br />
						   <% end-%>
							<% if !@filtr_show_type["3"].blank?-%>
								<%= my_hour planed_work.get_from-%> - <%= my_hour planed_work.get_to-%><br />
						   <% end-%>
							<% if !@filtr_show_type["4"].blank?-%>
								<i><%= shorten(planed_work.note, 15)-%></i>
						   <% end-%>
							<div class='floating_no_user'>
								<%= image_tag( "no_user_icon.png", :alt => 'bez operátora') if planed_work.user_id.blank? || planed_work.operations.size == 0 || planed_work.project_id.blank? -%>
							</div>	
							
						</div>
						<div class="floating_div" style="display:none" id="float_<%= id-%>">
							<div class='floating_div_top'></div>
							<div class='floating_div_body'>
								<div class='floating_div_close'><a onClick="show_float_div('float_<%= id-%>');">(X)</a></div>
								<% if !planed_work.project_id.blank? %>
									projekt: <b><%= project_name planed_work.project -%></b><br />
								<% else %>
									projekt: <b class="red">NENÍ ZADÁN PROJEKT!!!</b><br />
								<% end %>
								čas: <b><%= my_hour planed_work.get_from-%> - <%= my_hour planed_work.get_to-%></b><br />
								operátor: <b><%= planed_work.user_id.blank? ? " " : planed_work.user.fullname%></b><br />
								poznámka: <i><%= planed_work.note-%></i>

								<ul style="margin:4px 10px 0px 	5px">
									<% for operation in planed_work.operations-%>
										<li><%= operation.operation_type.name-%></li>
									<% end-%>
								</ul>
						
								<div class="calendar_cell_menu">
									<% if movable == true -%>
										<%= right_show "works", "edit",  link_to_remote( planed_work.reserved ? "termín potvrzen" : "změnit na rezervaci",
											   :url    => {:action => :change_reservation, 
																:work_id => planed_work.id,
																:job_type => @filtr_type,
											  					:show_type => @filtr_show_type,
											 					:reservation => !planed_work.reserved },
														:update =>  id,
														:loading => visual_effect(:fade))
														-%>
									<% end -%>
									<% if planed_work.operations.size == 0-%>
								  
										<%= right_show "works", "delete", link_to_remote( "smazat!!!!",
										   :url    => {:action => :delete_work, 
															:work_id => planed_work.id,
 															},
													:update =>  id,
													:loading => visual_effect(:fade),
													:confirm => "chcete opravdu smazat naplánovanou práci?")
													-%>
									<% end -%>
									
									<%= right_link "works","edit", "upravit" , edit_work_path(planed_work.id)-%>
								</div>
							</div>
							<div class='floating_div_bottom'></div>
						</div>
					</div>
				</div>
			<div class="bottom"></div>
		</div>
	</div>
</div>	
<% if movable == true-%> <%= right_show "works", "edit", draggable_element(id,  :revert=> true , :ghosting=> true )-%> <% end-%>
